* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/bg-02.jpg');
    font-family: sans-serif;
    height: auto;
}

.container {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.452);
    margin: 50px auto;
    box-shadow: 0 0 10px #888;
    border-radius: 15px;
}

.header {
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.header h1 {
    color: #333;
    font-size: 50px;
}

.main {
    text-align: center;
    color: #333;
}

.main span {
    position: relative;
}

.main span i {
    position: absolute;
    bottom: 0;
    color: #888;
}

.main input {
    width: 80%;
    height: 40px;
    margin-bottom: 3%;
    border: none;
    padding-left: 25px;
    border-bottom: 1px solid rgb(110, 183, 201);
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    transition: .1s;
}

.main input:hover {
    border-bottom: 2px solid rgb(110, 183, 201);
}

.main button {
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    background: #89abe3;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(61, 58, 58);
    margin-top: 30px;
    margin-bottom: 30px;
    transition: .1s
}

.main button:hover {
    filter: brightness(.8)
}

.check {
    text-align: center;
}

.social {
    text-align: center;
    padding-bottom: 50px;
}

.social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    color: white;
    padding-top: 30px;
}

.a1 {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    background-color: #4267b2;
}

.a2 {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    background-color: #55acee;
}

.a3 {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    background-color: #dd4b39;
}

